@{
    var connections = RoleControl.ConnectionManage.GetConnections();
    if(!Request.IsLocal)
    {
        connections = new List<string>();
    }
}
<!DOCTYPE html>
<html lang="zh">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - 权限管理</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <script src="~/Scripts/jquery-1.8.2.js"></script>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("权限管理", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    
                    <a href="/Connection">数据连接</a>:
                    <select onchange="window.location = '/Connection/Change?returnUrl=@Html.Raw(Server.UrlEncode(Request.Url.ToString()))&index=' + this.value" style="width:350px">
                        @for (int i = 0; i < connections.Count;i++ )
                        {
                            <option value="@i" @Html.Raw(i == RoleControl.ConnectionManage.index ? "selected" : "")>@connections[i]</option>
                        }
                    </select>
                    切换系统:<select onchange="window.location='/home/ChangeSystem?id='+this.value">
                        @foreach (var item in CRL.Package.RoleAuthorize.SystemTypeBusiness.Instance.SystemTypes)
                        {
                            <option value="@item.Id" @Html.Raw(item.Id == RoleControl.Models.BaseController.currentSystemId ? "selected" : "")>@item.Name</option>
                        }
                    </select>
                    @if(Request.IsAuthenticated)
                    {
                        @Html.ActionLink("退出", "LogOff", "Account")
                    }
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("菜单", "Index", "Menu")</li>
                            <li>@Html.ActionLink("角色", "Index", "Role")</li>
                            <li>@Html.ActionLink("部门", "Index", "Department")</li>
                            <li>@Html.ActionLink("用户", "Index", "Employee")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; 2014 CRL Provider</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
