@model List<Shopping.Model.Order.OrderDetail>
@{
    ViewBag.Title = "订单详细";
}

<h2>@ViewBag.Title</h2>
<table class="table">
    <tr>
        <th>产品</th>
        <th>数量</th>
        <th>价格</th>
        <th>付款</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Num</td>
            <td>@item.Price</td>
            <td>
                @(item.Num*item.Price)
            </td>
        </tr>
    }
</table>